<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% messages.forEach((message) => {
        %> <ul>
            <li><%=message.user%></li>
            <li><%=message.text%></li>
            <li><%=message.added.toLocaleString()%></li>
            <br>
            <button type="button" onclick="window.location.href='/message/<%= message.id %>'">Open</button>
            </ul> <%
    })
    %>
</body>
<footer>
    <a href="/new">Add a new post!</a>
</footer>
</html>